<div class="mt-4">
{{!-- trong form mặc định submit sẽ mang các name (name = "q") và dùng hàm get để chuyển giá trị name đi đến acction--}}
<form method="get" action="/news">
  <div class="mb-3">
    <label class="form-label">Từ khóa</label>
    <input type="text" name = "q" class="form-control" placeholder="Nhâp từ khóa ...." >
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>